.imageWrapper {
  position: relative;
  width: 100%;
  height: 40%;
  padding: var(--spacing-xxl);
}

.mainImage {
  position: absolute;
  object-fit: cover;
  object-position: 100% 20%;
  height: 100%;
  width: 100%;
  border-radius: 20px;
}

.contentWrapper {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.personalBioWrapper {
  height: 100%;
}

@media (min-width: 768px) {
  .desktopHidden {
    display: none;
  }
  .contentWrapper {
    flex-direction: row-reverse;
  }
  .imageWrapper {
    height: 100%;
    width: 50%;
  }
  .mainImage {
    padding: var(--spacing-xxl);
    border-radius: 80px;
    object-fit: cover;
  }
  .personalBioWrapper {
    width: 50%;
    padding: var(--spacing-xxl);
  }
}

@media (max-width: 768px) {
  .mobileHidden {
    display: none;
  }
}
