.options {
  display: flex;
  justify-content: space-between;
}

.optionButton {
  width: 120px;
  height: 40px;
  font: inherit;
  border: none;
}

.optionButton:hover {
  cursor: pointer;
}

.continueButton {
  margin: var(--spacing-xl) auto 0 auto;
}

.guessResult {
  position: absolute;
  color: black;
  font-size: 1.1rem;
  text-align: center;
  padding: var(--spacing-xl);
  border-radius: 8px;
  border: solid 2px black;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-md);
  z-index: 2;
  background-color: white;
  width: 80%;
  height: 90%;
}

.guessExplanation {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  height: 50%;
  overflow: scroll;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--colour-bg);
  opacity: 70%;
}

.score {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 1.3rem;
  margin-top: var(--spacing-xl);
}

.pulse {
  animation: pulse 1s;
}

.playAgain {
  width: 200px;
  height: 40px;
  font: inherit;
  margin: var(--spacing-xl) auto 0 auto;
  font-size: 1.1rem;
}

.playAgain:hover {
  cursor: pointer;
}

.inlineBlock {
  display: inline-block;
  position: relative;
}

.finalResult {
  position: absolute;
  color: black;
  font-size: 1.4rem;
  text-align: center;
  padding: var(--spacing-xl);
  border-radius: 8px;
  border: solid 2px black;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: var(--spacing-md);
  z-index: 2;
  background-color: white;
  width: 80%;
  height: 90%;
}

.green {
  background-color: rgb(158, 213, 134);
}

.red {
  background-color: rgb(246, 87, 87);
}

@media (min-width: 772px) {
  .optionButton {
    height: 40px;
    width: 40%;
    font-size: 1.2rem;
  }

  .score {
    font-size: 1.6rem;
  }

  .guessResult {
    font-size: 1.5rem;
    width: 40%;
    animation: appear 0.8s;
  }

  .finalResult {
    font-size: 2rem;
    width: 40%;
  }

  .playAgain {
    font-size: 1.4rem;
    height: 60px;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}
