.section {
  display: flex;
  height: calc(100dvh - var(--header-height));
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  scroll-snap-align: start;
  padding-top: var(--spacing-xxl);
  padding-left: var(--spacing-xxl);
  padding-right: var(--spacing-xxl);
  overflow: scroll;
}

.timelineWrapper {
  display: flex;
  flex-direction: column;
}

.timeline {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: var(--spacing-md)
}

.timelineTitle {
  margin-bottom: var(--spacing-xxl);
  color: white;
}

.timelineItem {
  display: flex;
  position: relative;
  flex-direction: column;
  border-left: 2px solid white;
  color: var(--colour-text);
  height: 100%;
  padding: var(--spacing-md) var(--spacing-lg);
  padding-left: var(--spacing-xl);
}

.timelineItem:last-child {
  border-left: none;
}

.timelineCard {
  display: flex;
  align-items: flex-start;
  color: white;
  /* background-color: #cdd4db; */
  height: 100%;
  gap: var(--spacing-lg);
  
  border-radius: 8px;
  margin-top: var(--spacing-xxl);
  margin-bottom: var(--spacing-xl);
}

.timelineItemTitle {
  position: absolute;
  display: flex;
  align-items: center;
  top: 0;
  left: -21px;
  gap: 13px;
  z-index: 100;
}

.timelineCardDate {
  position: relative;
}

.iconWrapper {
  position: relative;
  height: 40px;
  width: 40px;
  border: 1px solid white;
  background-color: white;
  border-radius: 10px;
}

.logo {
  border-radius: 10px;
  object-fit: contain;
}

.timelineText {
  text-align: left;
}