.professionalBioSection {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: var(--spacing-xxl);
}

.techLogos {
  display: flex;
  gap: var(--spacing-md);
  margin-top: var(--spacing-lg);
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.techLogoWrapper {
  position: relative;
  width: 25%;
  max-height: 80px;
}

.techLogoWrapper::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.techLogo {
  padding: 4px;
  object-fit: contain;
  margin-right: -2px;
  margin-left: -2px;
}

.professionalBioTextContent {
  flex-direction: column;
}

@media (min-width: 768px) {
  .professionalBioSection {
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    align-items: center;
  }
  .professionalBioTextContent {
    width: 50%;
    padding: var(--spacing-xxl);
  }
  .techLogos {
    width: 50%;
    height: 100%;
    flex-wrap: wrap;
    padding: var(--spacing-xxl);
    gap: 0;
    margin: 0;
    align-content: center;
  }
  .techLogoWrapper {
    width: 50%;
    max-height: 240px;
  }
  .techLogo {
    padding: var(--spacing-lg);
  }
}
