.timelineWrapper {
  display: flex;
  position: relative;
  height: 100%;
  flex-direction: column;
  padding-left: var(--spacing-xl);
  overflow-y: scroll;
  overflow-x: hidden;
}

.timeline {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: var(--spacing-md);
}

.timelineTitle {
  margin-bottom: var(--spacing-xxl);
  text-align: center;
  color: white;
}

.timelineItem {
  display: flex;
  position: relative;
  flex-direction: column;
  border-left: 2px solid white;
  color: var(--colour-text);
  height: 100%;
  padding: var(--spacing-md) var(--spacing-lg);
  padding-left: var(--spacing-xl);
}

.timelineItem:last-child {
  border-left: none;
}

.timelineCard {
  display: flex;
  align-items: flex-start;
  color: white;
  height: 100%;
  gap: var(--spacing-lg);

  border-radius: 8px;
  margin-top: var(--spacing-xxl);
  margin-bottom: var(--spacing-xl);
}

.timelineItemTitle {
  position: absolute;
  display: flex;
  align-items: center;
  top: -4px;
  left: -21px;
  gap: 13px;
}

.timelineCardDate {
  position: relative;
}

.iconWrapper {
  position: relative;
  height: 40px;
  width: 40px;
  border: 1px solid white;
  background-color: white;
  border-radius: 10px;
}

.logo {
  border-radius: 10px;
  object-fit: contain;
}

.timelineText {
  text-align: left;
}

.techLogos {
  display: flex;
  gap: var(--spacing-md);
  margin-top: var(--spacing-lg);
  width: 100%;
}

.techLogoWrapper {
  position: relative;
  width: 25%;
  max-height: 80px;
}

.techLogoWrapper::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.techLogo {
  padding: 4px;
  object-fit: contain;
  margin-right: -2px;
  margin-left: -2px;
}

.scrollHint {
  position: absolute;
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
  bottom: 20px;
  left: 0;
  background: rgb(8, 32, 50);
  background: linear-gradient(
    0deg,
    rgba(8, 32, 50, 1) 34%,
    rgba(8, 32, 50, 0) 100%
  );
}

.scrollHintChevron {
  height: 40px;
  width: 20px;
}

/* desktop */
.desktopSection {
  display: flex;
  position: relative;
  height: calc(100dvh - var(--header-height));
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  scroll-snap-align: start;
  padding: var(--spacing-xxl);
}

.halfSection {
  display: flex;
  position: relative;
  width: 50%;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  scroll-snap-align: start;
  padding: var(--spacing-xxl);
}

@media (max-width: 768px) {
  .desktopSection {
    display: none;
  }
}

@media (min-width: 768px) {
  .mobileLayout {
    display: none;
  }
  .desktopLayout {
    flex-direction: row;
  }
  .scrollHint {
    width: 50dvw;
  }

  .timelineItemTitle{
    top: 0;
  }
}
