/* Shared */

.section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: center;
  overflow-x: hidden;
  height: calc(100dvh - var(--header-height));
  padding: 0 var(--spacing-xxxl);
}

.title {
  font-size: 2rem;
  align-self: top;
  animation: fadeIn linear 2s;
  color: var(--colour-text);
  text-align: center;
}

.text {
  font-size: 1.5rem;
  text-align: center;
  color: var(--colour-text);
  animation: fadeIn linear 2s 2s both;
  text-wrap: nowrap;
}

.chevron {
  position: absolute;
  bottom: 16px;
  animation: fadeIn 2s 2s both, oscillate 3s 2s ease infinite;
}

/* Mobile */

.profileWrapperMobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: calc(100dvh - var(--header-height));
  padding: var(--spacing-xxxl) 0;
}

.profilePictureWrapperMobile {
  position: absolute;
  bottom: 0;
  height: 90%;
  width: 100%;
}

.profilePictureMobile {
  object-fit: cover;
}

.textGroupMobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Desktop */

.profileWrapperDesktop {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  height: calc(100dvh - var(--header-height));
}

.profilePictureWrapperDesktop {
  position: absolute;
  align-self: end;
  width: 100%;
  bottom: 0;
  left: -25%;
  height: calc(100dvh - var(--header-height));
  overflow: visible;
}

.profilePictureDesktop {
  object-fit: contain;
}

.textGroupDesktop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: var(--spacing-xl);
}

.titleDesktop {
  font-size: 2rem;
  align-self: top;
  animation: fadeIn linear 2s;
  color: var(--colour-text);
  text-align: center;
  margin-bottom: var(--spacing-xxxl);
}

@media (max-width: 772px) {
  .profileWrapperDesktop,
  .profilePictureWrapperDesktop {
    display: none;
  }

  .text {
    text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000,
      -1px -1px 0 #000;
  }
}

@media (min-width: 772px) {
  .profilePictureWrapperMobile,
  .profileWrapperMobile {
    display: none;
  }
}

@keyframes oscillate {
  0,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(16px);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
