/* Shared */

.section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: center;
  overflow-x: hidden;
  height: calc(100dvh - var(--header-height));
  padding: 0 var(--spacing-xxxl);
}

.title {
  font-size: 2rem;
  align-self: top;
  animation: fadeIn linear 2s;
  color: var(--colour-text);
  text-align: center;
}

.text {
  font-size: 1.5rem;
  text-align: center;
  color: var(--colour-text);
  animation: fadeIn linear 2s 2s both;
  text-wrap: nowrap;
  text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000,
    -1px -1px 0 #000;
}

.chevron {
  position: absolute;
  height: 50px;
  width: 50px;
  bottom: 16px;
  /* animation: fadeIn 2s 2s both, oscillate 3s 2s ease infinite; */
}

.profileWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: calc(100dvh - var(--header-height));
  padding: var(--spacing-xxxl) 0;
}

.profilePictureWrapper {
  position: absolute;
  width: 70%;
}

.profilePictureWrapper:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.profilePicture {
  object-fit: cover;
  border-radius: 40%;
}

.textGroup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Desktop */

@media (min-width: 772px) {
  .title {
    font-size: 2rem;
    align-self: top;
    animation: fadeIn linear 2s;
    color: var(--colour-text);
    text-align: center;
    margin-bottom: var(--spacing-xxxl);
  }

  .textGroup {
    width: 50%;
    padding: var(--spacing-xl);
  }

  .contentContainer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }

  .profileWrapper {
    justify-content: center;
    width: 50%;
  }

  .profilePictureWrapper {
    position: absolute;
    bottom: 0;
    align-self: end;
    left: -25%;
    height: calc(100dvh - var(--header-height));
    width: 100%;
    overflow-y: hidden;
  }

  .profilePicture {
    object-fit: contain;
    border-radius: 0;
  }

  .text {
    text-shadow: none;
  }
}

/* @keyframes oscillate {
  0,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(16px);
  }
} */

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
