/* Shared */

.section {
  height: 100dvh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  scroll-snap-align: center;
  overflow-x: hidden;

  padding-right: var(--spacing-xl);
  padding-left: var(--spacing-xl);
}

.title {
  font-size: 2rem;
  align-self: top;
  animation: fadeIn linear 2s;
  color: var(--colour-text);
  text-align: center;
}

.text {
  font-size: 1.5rem;
  text-align: center;
  color: var(--colour-text);
  animation: fadeIn linear 2s 2s both;
}

.chevron {
  position: absolute;
  bottom: 32px;
  animation: fadeIn 2s 2s both, oscillate 3s 2s ease infinite;
}

/* Mobile */

.profileWrapperMobile {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xxxl);
  align-items: center;
  justify-content: center;
}

.profilePictureMobile {
  height: 200px;
  width: 200px;
  border-radius: 100%;
  rotate: -2deg;
  animation: fadeIn linear 2s;
}

.textGroupMobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Desktop */

.profileWrapperDesktop {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 80%;
}

.profilePictureDesktop {
  border-radius: 100%;
  rotate: -2deg;
  animation: fadeIn linear 2s;
}

.profilePictureWrapper {
  position: relative;
  width: 100%;
}

.profilePictureWrapper:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.textGroupDesktop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 50%;
  max-width: 50%;
  padding: var(--spacing-xl);
}

.titleDesktop {
  font-size: 2rem;
  align-self: top;
  animation: fadeIn linear 2s;
  color: var(--colour-text);
  text-align: center;
  margin-bottom: var(--spacing-xxxl);
}

@media (max-width: 772px) {
  .profileWrapperDesktop {
    display: none;
  }
}

@media (min-width: 772px) {
  .profileWrapperMobile {
    display: none;
  }
}

@keyframes oscillate {
  0,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(20px);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
