.body {
  position: relative;
}

.link {
  display: flex;
  align-items: center;
  margin-left: var(--spacing-lg);
  width: 48px;
}

.backChevron {
  stroke: black;
  fill: black;
  transform: rotate(90deg);
  height: 40px;
  width: 40px;
}

.nav {
  height: var(--header-height);
  width: 100%;
  padding: 0 var(--spacing-lg);
  display: flex;
  justify-content: space-between;
  align-items: bottom;
  z-index: 10;
}

.main {
  display: flex;
  padding: var(--spacing-xl);
  flex-direction: column;
}