.body {
  position: relative;
  background-color: var(--colour-bg);
  color: white;
}

.link {
  display: flex;
  align-items: center;
  margin-left: var(--spacing-lg);
  width: 48px;
}

.backChevron {
  transform: rotate(90deg);
  height: 40px;
  width: 40px;
}

.nav {
  height: var(--header-height);
  width: 100%;
  padding: 0 var(--spacing-lg);
  display: flex;
  justify-content: space-between;
  align-items: bottom;
  z-index: 10;
}
