.body {
  background-color: var(--colour-bg);
  position: relative;
  overflow: hidden;
}

.main {
  overflow: scroll;
  scroll-snap-type: y mandatory;
  height: 100dvh;
  background-color: var(--colour-bg);
}
