@value theme: './theme.css';
@value spacing-xl from theme;
@value header-height from theme;
@value light-blue from theme;

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

.main {
  /* flex-direction: column; */
}

.section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profileWrapper {
  display: flex;
  gap: spacing-xl;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profilePicture {
  height: 200px;
  width: 200px;
  border-radius: 100%;
  box-shadow: 0px 0px 20px light-blue;
  rotate: -2deg;
  animation: fadeIn linear 2s;

}

.title {
  font-size: 2rem;
  align-self: top;
  animation: fadeIn linear 2s 0.5s both, slideLeft 1.5s 0.5s both;
}

.text {
  font-size: 1.5rem;
  text-align: center;
  animation: fadeIn linear 2s 0.5s both,slideRight 1.5s 0.5s both;
}

.chevron {
  position: absolute;
  bottom: 32px;
  animation: fadeIn 2s 3s both, oscillate 3s 2s ease infinite;
}

@keyframes oscillate {
  0,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(20px);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideLeft {
  from {
    transform: translateX(-80px);
  }
  to {
    transform: translateX(0px)
  }
}

@keyframes slideRight {
  from {
    transform: translateX(80px);
  }
  to {
    transform: translateX(0px)
  }
}

@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}
