@value theme: "@/app/theme.css";
@value color-text from theme;
@value spacing-xl, spacing-xxl from theme;

.section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  scroll-snap-align: center;
  padding-left: spacing-xxl;
}

.textGroup {
  display: flex;
  flex-direction: column;
  gap: spacing-xxl;
}

.text {
  color: color-text;
  font-size: 2rem;
}
