@value theme: './../../theme.css';
@value colour-bg, primary, secondary, color-text from theme;
@value spacing-xs, spacing-sm, spacing-md, spacing-lg, spacing-xl, spacing-xxl, spacing-xxxl  from theme;
@value header-height from theme;

.navClosed {
  transform-origin: 0 0;
  transform: scale(0);
  height: 0;
}

.nav {
  position: absolute;
  left: spacing-xl;
  top: 104px;
  z-index: 11;

  padding: spacing-xl;
  padding-left: spacing-lg;

  background-color: secondary;
  border-radius: 20px;

  transform-origin: top left;
  transform: scale(1);
  transition: 0.5s;
}

.navList {
  display: flex;
  font-size: 1.5rem;
  flex-direction: column;
  gap: spacing-lg;
  text-shadow: 0px 2px 2px black;
  text-transform: uppercase;
  color: color-text;
}

.overlay {
  position: absolute;
  z-index: 9;
  background-color: #00000099;
  height: 100vh;
  width: 100vw;
}

.menuIconWrapper {
  top: 40px;
  left: 40px;
  height: 48px;
  width: 48px;
  z-index: 12;
  position: absolute;
}

.menuIconOpen {
  transform: rotate(-90deg);
  transition: 0.5s linear;
}

.menuIconClose {
  transform: rotate(-180deg);
  transition: 0.5s linear;
}

.menuIcon:hover {
  cursor: pointer;
}

.langSelector {
  margin-right: 15%;
  color: grey;
}

.langButton {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.langButton:hover {
  cursor: pointer;
}

.active {
  color: color-text;
  text-shadow: 0px 2px 2px black;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes expand {
  from {
    transform-origin: top left;
    transform: scale(0);
  }
  to {
    transform-origin: top left;
    transform: scale(1);
  }
}

@keyframes shrink {
  from {
    transform-origin: bottom right;
    transform: scale(1);
  }
  to {
    transform-origin: top left;
    transform: scale(0);
  }
}

@keyframes rotateForwards {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(90deg);
  }
}
